:root {
    --primary-color: #298f8e
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
    font-weight: 500;
}

input[type="checkbox"] {
    accent-color: var(--primary-color);
}

input::placeholder {
    color: var(--primary-color);
    opacity: .6;
}

.form {
    width: 320px;
    background-color: #fff;
    border-right: 6px solid var(--primary-color);
    border-bottom: 6px solid var(--primary-color);
    padding: 15px 10px 15px 10px;
}

.title {
    text-align: left;
    background-color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
}

.title img.logo {
    width: 100%;
}

.title span {
    font-size: 24px;
    margin-left: 10px;
}

.label {
    font-size: .9rem;
}

.input-field,
.checkbox-field {
    margin-bottom: 10px;
    padding: 0 8px;
}

.input-field .label::first-letter {
    text-transform: uppercase;
}

.input-field .label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.input-field .control {
    transition: all .1s linear;
    padding: 8px;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 8px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.input-field select.control {
    border: 1px solid #ddd;
    text-align: center;
}

.input-field .control:focus {
    outline: 3px solid var(--primary-color);
}

.checkbox-field .control {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.checkbox-field .label,
.checkbox-field .control {
    vertical-align: middle;
}

.apply-btn {
    width: 100%;
    background-color: rgb(9 132 227);
    padding: 12px 20px;
    color: rgb(255 255 255);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.apply-btn:hover {
    opacity: 0.8;
}