* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 350px;
    background-color: #fff;
}

.title {
    text-align: center;
    color: #fff;
    background-color: #222;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding: 5px 10px;
}

.input-field {
    margin-bottom: 15px;
    padding: 0 8px;
}

.input-field .label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
}

.input-field .control {
    padding: 7px;
    width: 100%;
}

.input-field input.control {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #eee;
}

.input-field input.control:focus {
    border-color: #74b9ff;
}

#changeBtn {
    width: 100%;
    background-color: rgb(9 132 227);
    padding: 12px 20px;
    color: rgb(255 255 255);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

#changeBtn:hover {
    opacity: .8;
}