@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;300;&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

form {
    width: 350px;
    background-color: #fff;
}

.title {
    text-align: center;
    color: #fff;
    background-color: #222;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding: 5px 10px;
}

.input-field {
    margin-bottom: 15px;
    padding: 0 8px;
}

.input-field .label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.9rem;
    text-align: left;
}

.input-field .label::first-letter {
    text-transform: uppercase;
}

.input-field .control {
    padding: 7px;
    width: 100%;
}

.input-field input.control {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #eee;
    text-align: center;
}

.input-field input.control::placeholder {
    text-align: center;
}

.input-field input.control:focus {
    border-color: #74b9ff;
}

.apply-btn {
    width: 100%;
    background-color: #0984e3;
    padding: 12px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.apply-btn:hover {
    opacity: 0.8;
}

.error {
    display: block;
    color: #dd3e3e;
    font-size: 0.9rem;
    margin-top: 8px;
}

.or {
    text-align: center;
    margin: 30px 0;
    font-size: 2.2rem;
}

.custom-css-teaxarea {
    height: 130px;
    resize: vertical;
    border: 1px solid #eee;
    color: #000;
    font-weight: 300;
}
